/*
Stylesheet for Hazen Breen Portfolio

by: Hazen Breen
*/

body, h1, h2, h3, h4 {
	font-family:'Roboto';
}

#name {
	text-align: center;
}

.navigation li {
	display: inline-flex;
	text-decoration: underline;
	padding-left: 50px;
	padding-right: 50px;
}

/* photo style */
#photo {
	position: relative;
	text-align: center;
}

/* resume style */
#resume {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 50px auto;
	text-align: left;
}

.resume-title {
	font-size: 19px;
	font-weight: bold;
}

.resume li {
	position: relative;
	line-height: 22px;
	width: 100%;
	max-width: 960px;
	text-align: left;
}




