/*
Stylesheet for Hazen Breen Portfolio

by: Hazen Breen
*/

body, h1, h2, h3, h4 {
	font-family:'Roboto';
}

.name {
	text-align: center;
}

.navigation li {
	text-decoration: underline;
	text-align: center;
	list-style-type: none;
}

/* photo style */
.photo {
	position: relative;
	width: 100%;
	text-align: center;
}

/* resume style */
.resume {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 50px;
	text-align: left;
}

.resume-title {
	font-size: 19px;
	font-weight: bold;
}

.resume li {
	position: relative;
	line-height: 22px;
	width: 100%;
	max-width: 800px;
	text-align: left;
}

/* text style */
.main-text {
	position: relative;
	width: 100%;
	max-width: 800px;
}


.sub-text {
	margin-left: 40px;
}


